

/* giao dien tren iphone 12xs */
@media (max-width: 412px) {
    .max-\[412px\]\:absolute {   position: absolute;}
    .max-\[412px\]\:bg-red-300 {
        --tw-bg-opacity: 1;
        background-color: rgb(252 165 165 / var(--tw-bg-opacity));
    }
    .max-\[412px\]\:bg-amber-100 {
        --tw-bg-opacity: 1;
        background-color: rgb(254 243 199 / var(--tw-bg-opacity));
    }
    .max-\[412px\]\:before\:text-\[20px\]::before {
        content: var(--tw-content);
        font-size: 20px;
    }
    .max-\[412px\]\:block {    display: block;}
    .max-\[412px\]\:flex {  display: flex;}
    .max-\[412px\]\:float-left {     float: left;}
    .max-\[412px\]\:float-none { float: none;}
    .max-\[412px\]\:fixed {    position: fixed;}
    .max-\[412px\]\:flex-col {        flex-direction: column;}
    .max-\[412px\]\:left-\[120\px\] { right: 120px;}
    .max-\[412px\]\:grid {   display: grid; }
    .max-\[412px\]\:grid-cols-1 {  grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .max-\[412px\]\:grid-cols-\[60px_250px_60px\] {
        grid-template-columns: 60px 250px 60px;
    }
    .max-\[412px\]\:hidden {   display: none;}
    .max-\[412px\]\:justify-center {      justify-content: center;}
    .max-\[412px\]\:justify-between {        justify-content: space-between;}
    .max-\[412px\]\:mt-\[8px\] {   margin-top: 8px;}
    .max-\[412px\]\:-mt-\[6px\] {   margin-top: -6px;}
    .max-\[412px\]\:-mt-\[16px\] {   margin-top: -16px;}
    .max-\[412px\]\:mx-\[20px\] {
        margin-left: 20px;
        margin-right: 20px;
    }
    .max-\[412px\]\:mx-0 {
        margin-left: 0px;
        margin-right: 0px;
    }
    .max-\[412px\]\:mx-\[30px\] {
        margin-left: 30px;
        margin-right: 30px;
    }
    .max-\[412px\]\:items-center {  align-items: center;}
    .max-\[412px\]\:ml-0 {  margin-left: 0px/* 36px */;}
    .max-\[412px\]\:ml-9 { margin-left: 2.25rem; }
    .max-\[412px\]\:-ml-5 {  margin-left: -1.25rem/* 44px */;}
    .max-\[412px\]\:ml-11 {  margin-left: 2.75rem/* 44px */;}
    .max-\[412px\]\:-ml-7 {margin-left: -1.75rem/* -28px */;}
    .max-\[412px\]\:-ml-\[1px\] {   margin-left: -1px;}
    .max-\[412px\]\:-ml-\[1\.5px\] {  margin-left: -1.5px;}
    .max-\[412px\]\:ml-\[5px\] {  margin-left: 5px;}
    .max-\[412px\]\:ml-\[15px\] {  margin-left: 15px;}
    .max-\[412px\]\:-ml-\[30px\] {   margin-left: -30px;}
    .max-\[412px\]\:mr-\[10px\] {   margin-right: 10px;}
    .max-\[412px\]\:mr-\[30px\] {   margin-right: 30px;}
    .max-\[412px\]\:mr-\[80px\] {   margin-right: 80px;}
    .max-\[412px\]\:-mr-1 {  margin-right: -0.25rem/* -4px */;}
    .max-\[412px\]\:pt-2 {     padding-top: 0.5rem/* 8px */;}
    .max-\[412px\]\:pl-\[12px\] {  padding-left: 12px;}
    .max-\[412px\]\:rounded-xl {  border-radius: 0.75rem/* 12px */;}
    .max-\[412px\]\:right-\[5\%\] { right: 5%;}
    
    .max-\[412px\]\:relative {      position: relative;}
    .max-\[412px\]\:rotate-\[-45deg\] {
        --tw-rotate: -45deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .max-\[412px\]\:transition-all {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
    .max-\[412px\]\:top-\[50\%\] {  top: 50%;}
    
    .max-\[412px\]\:top-\[-50px\] {  top: -50px;}
    .max-\[412px\]\:text-2xl {
        font-size: 1.5rem/* 24px */;
        line-height: 2rem/* 32px */;
    }
    .max-\[412px\]\:text-\[10px\] {   font-size: 10px;}
    .max-\[412px\]\:text-\[13px\] {   font-size: 13px;}
    .max-\[412px\]\:text-\[14px\] {   font-size: 14px;}
    .max-\[412px\]\:text-\[17px\] {   font-size: 17px;}
    .max-\[412px\]\:text-\[18\.5px\] { font-size: 18.5px;}
    .max-\[412px\]\:text-\[21px\] {   font-size: 21px;}
    .max-\[412px\]\:text-center { text-align: center;}
    .max-\[412px\]\:text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    .max-\[412px\]\:text-black {
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity));
    }
    .max-\[412px\]\:text-red-400 {
        --tw-text-opacity: 1;
        color: rgb(248 113 113 / var(--tw-text-opacity));
    }
    
    .max-\[412px\]\:translate-x-\[-5\px\] {
        --tw-translate-x: -5px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .max-\[412px\]\:translate-x-\[-5\%\] {
        --tw-translate-x: -5%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .max-\[412px\]\:translate-y-\[-6px\] {
        --tw-translate-y: -6px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .max-\[412px\]\:translate-y-\[6px\] {
        --tw-translate-y: 6px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .max-\[412px\]\:translate-y-\[-50\%\] {
        --tw-translate-y: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .max-\[412px\]\:translate-x-\[6px\] {
        --tw-translate-x: 6px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .max-\[412px\]\:w-\[55px\] { width: 55px;}
    .max-\[412px\]\:w-\[60px\] { width: 60px;}
    .max-\[412px\]\:w-\[80px\] { width: 80px;}
    .max-\[412px\]\:w-one-hundred-pixel { width: 100px;}
    .max-\[412px\]\:w-\[110px\] { width: 110px;}
    .max-\[412px\]\:w-\[125px\] { width: 125px;}
    .max-\[412px\]\:w-\[130px\] { width: 130px;}
    .max-\[412px\]\:w-\[150px\] { width: 150px;}
    .max-\[412px\]\:w-\[180px\] { width: 180px;}
    .max-\[412px\]\:w-\[350px\] { width: 350px;}
    .max-\[412px\]\:w-textarea-cmt-360px {  width: 360px;}
    .max-\[412px\]\:w-\[380px\] { width: 380px;}
    .max-\[412px\]\:w-\[400px\] { width: 400px;}
    .max-\[412px\]\:w-\[440px\] { width: 440px;}
    .max-\[412px\]\:z-\[2\] {   z-index: 2;}
}